.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.head {
  height: 8vh;
  width: 100%;
  background-color: #2496ED;
  color: #ffffff;
  display: flex;       
  align-items: center;   
  justify-content: center;
  padding-top: 1%;
}


.head h1 {
  margin-top: auto;
  height: 100%;
  margin: 0;
  font-size:35pt;
  font-family: 'Courier New', Courier, monospace;

}


.settings {
  width: 100%;
  margin-top: 5%;
}

.label{
  width: 100%;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: space-around;
  margin-top: 2%;
}

.status{
  width: 100%;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  margin-top: 2%;
}s

.input{
  margin-left: 5%;
  background-color: #2496ED;
  color: white;
  text-align: center;
  font-weight: 600;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

.App-link {
  color: #61dafb;
}

li{
  color: #2496ED;
}
span{
  color :#ffffff
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Table */

.password-table {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Parent occupe toute la largeur */
}

table {
  width: 100%; /* Tableau s'étend sur 100% */
  border-collapse: collapse;
  margin-top: 10px;
}

table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 5px;
  text-align: center;
  font-size: 23px;
}

th {
  background-color: #333;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #2496ED;
}

tr:hover {
  background-color: #97da79;
  color: #000000;
}

.pagination {
  margin-top: 15px;
}

button {
  margin: 5px;
  padding: 8px 15px;
  border: none;
  background-color: #2496ED;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

button:disabled {
  background-color: #ccc;
  color: #000000;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #555;
  color: #2496ED;
}
