/* Passwords.css */
.passwords {
    background-color: #1a1a1a; /* Fond légèrement plus clair */
    padding: 10px 20px ;
    border: 1px solid #00ff00; /* Bordure néon */
    box-shadow: 0 0 10px #00ff00; /* Ombre néon */
    border-radius: 10px; /* Coins arrondis */
    margin: 20px auto;
    max-width: 90%; /* Largeur maximale pour une meilleure lisibilité */
    height: 100%;
    
}

.status {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
    color: #00ff00; /* Texte vert néon */
}

.status li {
    margin: 10px 0;
    font-size: 16px;
}

.status span {
    font-weight: bold;
    color: #00cc00; /* Texte vert plus clair pour les valeurs */
}

.password-stats {
    margin-bottom: 20px;
}

.password-stats h3 {
    color: #00ff00; /* Texte vert néon */
    font-size: 20px;
    margin-bottom: 10px;
}

.password-stats ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #00ff00; /* Texte vert néon */
}

.password-stats li {
    margin: 10px 0;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px; /* Espace entre l'icône et le texte */
}

.password-table {
    margin-top: 0 20px;
    overflow-x: auto; /* Défilement horizontal si nécessaire */
}

table {
    width: 100%;
    border-collapse: collapse; /* Fusionner les bordures */
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #00ff00; /* Bordure néon */
}

th, td {
    padding: 10px;
    text-align: center;
    font-size: 16px;
    color: #00ff00; /* Texte vert néon */
}

th {
    background-color: #1a1a1a; /* Fond sombre */
    color: #00ff00; /* Texte vert néon */
    cursor: pointer; /* Curseur pointer pour les en-têtes cliquables */
    transition: background-color 0.3s, box-shadow 0.3s;
}

th:hover {
    background-color: #004400; /* Fond vert foncé au survol */
    box-shadow: 0 0 8px #00ff00; /* Ombre néon au survol */
}

tr:nth-child(even) {
    background-color: #262626; /* Fond légèrement plus clair pour les lignes paires */
}

tr:hover {
    background-color: #004400; /* Fond vert foncé au survol */
    color: #00ff00; /* Texte vert néon */
}

td {
    text-align: center; /* Centrer le contenu */
    padding: 10px; /* Espacement interne */
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px; /* Espace entre les boutons */
}

.pagination button {
    background-color: #003300; /* Fond sombre pour les boutons */
    color: #00ff00; /* Texte vert néon */
    border: 1px solid #00ff00; /* Bordure néon */
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px; /* Coins arrondis */
    transition: background-color 0.3s, box-shadow 0.3s;
}

.pagination button:hover:not(:disabled) {
    background-color: #005500; /* Fond vert foncé au survol */
    box-shadow: 0 0 8px #00ff00; /* Ombre néon au survol */
}

.pagination button:disabled {
    background-color: #1a1a1a; /* Fond sombre */
    color: #555; /* Texte gris */
    cursor: not-allowed;
}